<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel='stylesheet' href='/assets/css/commons.css' />

</head>

<body>
    <header class="header">
        <div class="header__top">
            <div class="container">
                <ul class="top-panel">
                    <li class="top-panel__item">
                        <a href="#" class="top-panel-link">
                            <svg class="top-panel-link__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#place"></use>
                            </svg>
                            <span class="top-panel-link__text">Москва</span>
                        </a>
                    </li>
                    <li class="top-panel__item">
                        <a href="#" class="top-panel-link">
                            <svg class="top-panel-link__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#mail"></use>
                            </svg>
                            <span class="top-panel-link__text">info@back-way.ru</span>
                        </a>
                    </li>
                    <li class="top-panel__item">
                        <a href="#" class="top-panel-link">
                            <svg class="top-panel-link__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#phone"></use>
                            </svg>
                            <span class="top-panel-link__text">8 (800) 623-45-99</span>
                        </a>
                    </li>
                    <li class="top-panel__item">
                        <a href="#" class="top-panel-link">
                            <svg class="top-panel-link__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons-sprite.svg#search"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="header__middle">
            <div class="container">
                <div class="logo">
                    <img src="/assets/images/logo_backway.svg" alt="Back way" class="logo__image" />
                </div>
                <nav class="main-menu">
                    <a href="#" class="main-menu__link">Восстановление данных</a>
                    <a href="#" class="main-menu__link">Бесплатные консультации</a>
                    <a href="#" class="main-menu__link">Цены</a>
                </nav>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                    <div class="header__bottom-bg-white"></div>
                <nav class="second-menu">
                    <a href="#" class="second-menu__item">С устройств</a>
                    <a href="#" class="second-menu__item">В операционных системах</a>
                    <a href="#" class="second-menu__item">По типам данных</a>
                    <a href="#" class="second-menu__item">После причин</a>
                    <a href="#" class="second-menu__item">Разных производителей</a>
                </nav>
                <a href="#" class="action-button">Подать заявку</a>
            </div>
        </div>
    </header>
    <%- body %>

</body>

</html>