<%- partial('common/main-title', {area: true}) %>

  <div class="order">
    <form action="#" class="order__form">
      <div class="order__limit">
        <h2 class="order__title">Срочность восстановления</h2>
        <div class="order__block order__block_33">
          <div class="form__input-block">
            <div class="form-input">
              <input class="form-input__input" name="limit" id="limit-1" type="radio" value="from-14-days">
              <label class="form-input__label" for="limit-1">Я хочу восстановить информацию как можно дешевле</label>
              <div class="form-input__border-bottom"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="order__contacts">
        <h2 class="order__title">Ваши контактные данные</h2>
        <div class="order__block order__block_33">
          <div class="form__input-block form__input-block_with-icon">
            <%- partial('common/svg-sprite-element', {icon: "person", cssSelector: "form__icon"}) %>
              <div class="form-input">
                <input class="form-input__input" name="name" id="name" type="text" required>
                <label class="form-input__label" for="name">Ваше имя</label>
                <div class="form-input__border-bottom"></div>
                <div class="form-input__message" data-error="Обязательное поле" data-success="Принято"></div>
              </div>
          </div>
        </div>
        <div class="order__block order__block_33">
          <div class="form__input-block form__input-block_with-icon">
            <%- partial('common/svg-sprite-element', {icon: "mobile", cssSelector: "form__icon"}) %>
              <div class="form-input">
                <input class="form-input__input" name="phone" id="phone" type="tel" required>
                <label class="form-input__label" for="phone" data-error="Обязательное поле" data-success="Принято">Номер телефона</label>
                <div class="form-input__border-bottom"></div>
                <div class="form-input__message" data-error="Введите корректный номер телефона"></div>
              </div>
          </div>
        </div>
        <div class="order__block order__block_33">
          <div class="form__input-block form__input-block_with-icon">
            <%- partial('common/svg-sprite-element', {icon: "mail", cssSelector: "form__icon"}) %>
              <div class="form-input">
                <input class="form-input__input" name="email" id="email" type="email" required>
                <label class="form-input__label" for="email" data-error="Обязательное поле" data-success="Принято">Email</label>
                <div class="form-input__border-bottom"></div>
                <div class="form-input__message" data-error="Введите корректный email"></div>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>